<footer class="site-footer">

  <div class="container">
    <p>Theme Provided by <a href="http://richbray.me/frap/">Frappuccino</a> | <span class="rss-subscribe">Subscribe <a href="http://feeds.feedburner.com/smaclellan">via RSS</a></span><!-- or "{{ "/feed.xml" | prepend: site.baseurl }}" raw --><p>
    <p>This is <a href="http://ca.linkedin.com/in/smaclell/">Scott MacLellan</a>'s personal blog and any opinions found here are his own. The posts do not necessarily reflect the views of his employer. <br/> If you would like to share this post please do so under the Creative Commons Attribution license.</p>
  </div>

  <script src="/js/jquery.min.js"></script>

</footer>
