<footer class="site-footer">

  <div class="container">
    <p>Theme Provided by <a href="http://richbray.me/frap/">Frappuccino</a> | <span class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></span><p>
    <p>This my personal blog and any opinions found here are my own. The posts do not necessarily reflect the views of my employer. <br/> If you would like to share this post please do so under the Creative Commons Attribution license.</p>
  </div>

  <script src="/js/jquery.min.js"></script>

</footer>
